
/*Mise en forme des polices, couleurs et liens
*/

/*Police*/
@font-face
 {
    font-family: 'aleoregular';
    src: url('Aleo-Regular-webfont.eot');
    src: url('Aleo-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Aleo-Regular-webfont.woff2') format('woff2'),
         url('Aleo-Regular-webfont.woff') format('woff'),
         url('Aleo-Regular-webfont.ttf') format('truetype'),
         url('Aleo-Regular-webfont.svg#aleoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face 
{
    font-family: 'mathleteskinny';
    src: url('Mathlete-Skinny-webfont.eot');
    src: url('Mathlete-Skinny-webfont.eot?#iefix') format('embedded-opentype'),
         url('Mathlete-Skinny-webfont.woff2') format('woff2'),
         url('Mathlete-Skinny-webfont.woff') format('woff'),
         url('Mathlete-Skinny-webfont.ttf') format('truetype'),
         url('Mathlete-Skinny-webfont.svg#mathleteskinny') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'mathletebulky';
    src: url('Mathlete-Bulky-webfont.eot');
    src: url('Mathlete-Bulky-webfont.eot?#iefix') format('embedded-opentype'),
         url('Mathlete-Bulky-webfont.woff2') format('woff2'),
         url('Mathlete-Bulky-webfont.woff') format('woff'),
         url('Mathlete-Bulky-webfont.ttf') format('truetype'),
         url('Mathlete-Bulky-webfont.svg#mathletebulky') format('svg');
    font-weight: normal;
    font-style: normal;




 }

body
{
	background-color: white;
	background-position: center;
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size:30%;
	overflow:auto;
	color:black;
	font-family: Tahoma, Geneva, sans-serif;
	

}


p

{
	width: 400px; /* On a indiqué une largeur (obligatoire) */
    text-align: justify;
    padding: 12px;
    word-wrap: break-word;
    font-family: Tahoma, Geneva, sans-serif;
    font-size:16px;

}

h1

{
	font-size: 4em;
	font-family: "Georgia", "Times New Roman", Serif;
	color:black;
	width:700px;
	margin:65px;
}

/*Mise en forme des couleurs et liens de la navigation */
nav 

{

	font-family: 'mathletebulky', Arial, sans-serif;
	align-content: center;


}

nav a
{
    font-size: 2em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
  
	background-color:yellow;
	text-decoration:none;
	text-transform: uppercase;
}

nav ul

{

	list-style-type:none;
	
}

.navvertical
{
	margin-left:0.3em;
}

.navvertical li
{
	padding:0.5em;
}

.navhorizontal li
{
	padding:0.5em;
}

/*Mise en forme de la structure de la page en grid*/

.maingrid 
{
	margin-left:350px;
	width:950px;
	/*Setting up the grid*/
	display:grid;
  	grid-template-columns: 1fr 3fr 1fr;
	
  	align-items: start;
  	grid-auto-rows: minmax(100px, auto);
  	grid-gap:1em;

}

.navhorizontal ul
{
	display:flex;
	flex-direction:row;

}

.navhorizontal li
{
	margin-right:30px;
}

.photoperso 
{
  grid-column:1/2;
  grid-row:1/2;
}

.navhorizontal 
{
 grid-column:2/3;
 grid-row:1/2;
 margin-top:2em;

}
.navvertical 
{
  grid-column:1/2;
  grid-row:2/3;
}
.texte {
  grid-column:2/3;
  grid-row:1/3;
  margin-top:8em;
  margin-left:1em;
  
}



#blockpage
{
	height:1800px;
}


/*Position de toute la navigation et photo perso*/



.photoperso

{
    border-radius:20px;


}





/*Mise en forme et position du texte principal*/

section

{


}



@media all and (orientation: portrait)
{
   

}
